NODE_ENV=development
PORT=5000

# Configuration de la base de données
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=data_consultance
DB_PORT=3306

# Secret JWT
JWT_SECRET=cle_secrete_super_securisee_a_changer_en_production
JWT_EXPIRES_IN=30d

# Configuration Email (pour Nodemailer)
EMAIL_HOST=smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USER=votre_utilisateur_mailtrap
EMAIL_PASS=votre_mot_de_passe_mailtrap
EMAIL_FROM=noreply@dataconsultance.com
